# Actividad práctica 

### Instrucciones
- Escriba las rutinas de Python necesarias para resolver los problemas de cada punto
- Siga las instrucciones y conteste donde se pida
- Entregue el notebook con sus respuestas al correo: phuijse@inf.uach.cl
- El trabajo es individual

### Introducción
En esta actividad usaremos la base de datos [*Auto Milles per Gallon Data Set*](https://archive.ics.uci.edu/ml/datasets/auto+mpg) del repositorio UCI

Puede descargarla usando el siguiente bloque

In [1]:
%%bash
wget -O auto.csv -c https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data-original 
wget -O README -c https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.names

--2019-05-08 12:27:03--  https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data-original
Resolviendo archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Conectando con archive.ics.uci.edu (archive.ics.uci.edu)[128.195.10.252]:443... conectado.
Petición HTTP enviada, esperando respuesta... 200 OK
Longitud: 32149 (31K) [application/x-httpd-php]
Guardando como: “auto.csv”

     0K .......... .......... .......... .                    100%  152K=0,2s

2019-05-08 12:27:04 (152 KB/s) - “auto.csv” guardado [32149/32149]

--2019-05-08 12:27:04--  https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.names
Resolviendo archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Conectando con archive.ics.uci.edu (archive.ics.uci.edu)[128.195.10.252]:443... conectado.
Petición HTTP enviada, esperando respuesta... 200 OK
Longitud: 1660 (1,6K) [application/x-httpd-php]
Guardando como: “README”

     0K .                                                     100%  523K=0,003s

2019-05-08 12:27:05 (523 KB/s) - “README” guardado [1660/1660]

### Información preliminar

1. Use las herramientas de UNIX para leer el archivo README en el notebook

In [3]:
!cat README

1. Title: Auto-Mpg Data

2. Sources:
   (a) Origin:  This dataset was taken from the StatLib library which is
                maintained at Carnegie Mellon University. The dataset was
                used in the 1983 American Statistical Association Exposition.
   (c) Date: July 7, 1993

3. Past Usage:
    -  See 2b (above)
    -  Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning.
       In Proceedings on the Tenth International Conference of Machine
       Learning, 236-243, University of Massachusetts, Amherst. Morgan
       Kaufmann.

4. Relevant Information:

   This dataset is a slightly modified version of the dataset provided in
   the StatLib library.  In line with the use by Ross Quinlan (1993) in
   predicting the attribute "mpg", 8 of the original instances were removed
   because they had unknown values for the "mpg" attribute.  The original
   dataset is available in the file "auto-mpg.data-original".

   "The data concerns city-cycle fuel consumption in miles per gallon,
    to be predicted in terms of 3 multivalued discrete and 5 continuous
    attributes." (Quinlan, 1993)

5. Number of Instances: 398

6. Number of Attributes: 9 including the class attribute

7. Attribute Information:

    1. mpg:           continuous
    2. cylinders:     multi-valued discrete
    3. displacement:  continuous
    4. horsepower:    continuous
    5. weight:        continuous
    6. acceleration:  continuous
    7. model year:    multi-valued discrete
    8. origin:        multi-valued discrete
    9. car name:      string (unique for each instance)

8. Missing Attribute Values:  horsepower has 6 missing values

2. Responda ¿Cuántos y cuáles son los atributos (características)? ¿De qué tipo es cada uno?

Son 9 atributos, incluyendo el atributo de clase:

    1. mpg:           continuous
    2. cylinders:     multi-valued discrete
    3. displacement:  continuous
    4. horsepower:    continuous
    5. weight:        continuous
    6. acceleration:  continuous
    7. model year:    multi-valued discrete
    8. origin:        multi-valued discrete
    9. car name:      string (unique for each instance)

3. Responda ¿Cuantas instancias/ejemplos existen?

Existen 398 instancias.

"Los datos se refieren al consumo de combustible en el ciclo urbano en millas por galón, que se pronosticará en términos de 3 atributos discretos multivalor y 5 atributos continuos". (Quinlan, 1993)"

### Lectura de datos

1. Cree un `DataFrame` a partir de `auto.csv` 
    1. Use una columna por atributo* 
    1. Use los nombres de columna descritos en `README` 
1. Imprima las primeras 5 filas del dataframe

**HINT:** Verifique el uso  del argumento `delim_whitespace`*

In [70]:
import pandas as pd

headers = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'myear','origin', 'cname']
df = pd.read_csv(r'./auto.csv', delim_whitespace=True, names=headers)
df.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,myear,origin,cname
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,1.0,chevrolet chevelle malibu
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,1.0,buick skylark 320
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,1.0,plymouth satellite
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,1.0,amc rebel sst
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,1.0,ford torino

### Manipulación de columnas 

1. Convierta las columnas *cylinders*, *year* y *origin* a valores enteros

In [71]:
df.cylinders = df.cylinders.astype(int)
df.myear = df.myear.astype(int)
df.origin = df.origin.astype(int)
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight          float64
acceleration    float64
myear             int64
origin            int64
cname            object
dtype: object

2. Reemplace los valores $[1, 2, 3]$ de *origin* por *USA*, *Europe*, *Japan*, respectivamente

http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html

In [72]:
def cambiar_origen(n):
    if n == 1:
        return "USA"
    if n == 2:
        return "Europe"
    if n == 3:
        return "Japan"

In [73]:
df["origin"] = df["origin"].apply(cambiar_origen) #aplicar esto una segunda vez, deja los valores como none
#df.head(20)

3. Convierta los valores de la columna *mpg* (galones por milla) a kmpl (kilómetros por litro)

5. Modifique el nombre de la columna *mpg* a kmpl (5)

In [74]:
#1 Gallon per Mile  =  2.352145 Liter per Kilometer
df["mpg"] = df["mpg"].apply(lambda x: 2.352145*x)
df = df.rename(columns = {"mpg": "kmpl"}) 
df.head()

,kmpl,cylinders,displacement,horsepower,weight,acceleration,myear,origin,cname
0,42.338610,8,307.0,130.0,3504.0,12.0,70,USA,chevrolet chevelle malibu
1,35.282175,8,350.0,165.0,3693.0,11.5,70,USA,buick skylark 320
2,42.338610,8,318.0,150.0,3436.0,11.0,70,USA,plymouth satellite
3,37.634320,8,304.0,150.0,3433.0,12.0,70,USA,amc rebel sst
4,39.986465,8,302.0,140.0,3449.0,10.5,70,USA,ford torino

4. Convierta los valores de la columna peso de libras (*pounds*) a kilogramos

In [75]:
#1 lbs = 0.45359237 kg
df["weight"] = df["weight"].apply(lambda x: 0.45359237*x)

In [76]:
df.head()

,kmpl,cylinders,displacement,horsepower,weight,acceleration,myear,origin,cname
0,42.338610,8,307.0,130.0,1589.387664,12.0,70,USA,chevrolet chevelle malibu
1,35.282175,8,350.0,165.0,1675.116622,11.5,70,USA,buick skylark 320
2,42.338610,8,318.0,150.0,1558.543383,11.0,70,USA,plymouth satellite
3,37.634320,8,304.0,150.0,1557.182606,12.0,70,USA,amc rebel sst
4,39.986465,8,302.0,140.0,1564.440084,10.5,70,USA,ford torino

### Datos perdidos

1. Encuentre los nombres de los autos que tengan valores perdidos (*missing data*)

2. Encuentre los nombres de los atributos que tengan valores perdidos

3. Elimines las filas con atributos perdidos ¿Cuántas filas quedan en el dataframe?

392 Filas

In [69]:
df.dropna()

,kmpl,cylinders,displacement,horsepower,weight,acceleration,myear,origin,cname
0,42.338610,8,307.0,130.0,1589.387664,12.0,70,USA,chevrolet chevelle malibu
1,35.282175,8,350.0,165.0,1675.116622,11.5,70,USA,buick skylark 320
2,42.338610,8,318.0,150.0,1558.543383,11.0,70,USA,plymouth satellite
3,37.634320,8,304.0,150.0,1557.182606,12.0,70,USA,amc rebel sst
4,39.986465,8,302.0,140.0,1564.440084,10.5,70,USA,ford torino
5,35.282175,8,429.0,198.0,1969.044478,10.0,70,USA,ford galaxie 500
6,32.930030,8,454.0,220.0,1974.941179,9.0,70,USA,chevrolet impala
7,32.930030,8,440.0,215.0,1955.890299,8.5,70,USA,plymouth fury iii
8,32.930030,8,455.0,225.0,2007.146237,10.0,70,USA,pontiac catalina
9,35.282175,8,390.0,190.0,1746.330625,8.5,70,USA,amc ambassador dpl
15,35.282175,8,383.0,170.0,1616.149614,10.0,70,USA,dodge challenger se
16,32.930030,8,340.0,160.0,1637.014863,8.0,70,USA,plymouth 'cuda 340
18,35.282175,8,400.0,150.0,1705.960904,9.5,70,USA,chevrolet monte carlo
19,32.930030,8,455.0,225.0,1399.786054,10.0,70,USA,buick estate wagon (sw)
20,56.451480,4,113.0,95.0,1075.921102,15.0,70,Japan,toyota corona mark ii
21,51.747190,6,198.0,95.0,1285.027184,15.5,70,USA,plymouth duster
22,42.338610,6,199.0,97.0,1258.265234,15.5,70,USA,amc hornet
23,49.395045,6,200.0,85.0,1173.443461,16.0,70,USA,ford maverick
24,63.507915,4,97.0,88.0,966.151748,14.5,70,Japan,datsun pl510
25,61.155770,4,97.0,46.0,832.341999,20.5,70,Europe,volkswagen 1131 deluxe sedan
26,58.803625,4,110.0,87.0,1211.998813,17.5,70,Europe,peugeot 504
27,56.451480,4,107.0,90.0,1102.229459,14.5,70,Europe,audi 100 ls
28,58.803625,4,104.0,95.0,1077.281879,17.5,70,Europe,saab 99e
29,61.155770,4,121.0,113.0,1013.325355,12.5,70,Europe,bmw 2002
30,49.395045,6,199.0,90.0,1201.112596,15.0,70,USA,amc gremlin
31,23.521450,8,360.0,215.0,2093.328788,14.0,70,USA,ford f250
32,23.521450,8,307.0,200.0,1984.920211,15.0,70,USA,chevy c20
33,25.873595,8,318.0,210.0,1987.641765,13.5,70,USA,dodge d200
34,21.169305,8,304.0,193.0,2146.399095,18.5,70,USA,hi 1200d
35,63.507915,4,97.0,88.0,966.151748,14.5,71,Japan,datsun pl510
...,...,...,...,...,...,...,...,...,...
375,65.860060,4,112.0,88.0,1181.608124,19.6,82,USA,chevrolet cavalier
376,63.507915,4,112.0,88.0,1197.483857,18.6,82,USA,chevrolet cavalier wagon
377,79.972930,4,112.0,88.0,1086.353726,18.0,82,USA,chevrolet cavalier 2-door
378,72.916495,4,112.0,85.0,1168.000353,16.2,82,USA,pontiac j2000 se hatchback
379,68.212205,4,135.0,84.0,1145.320734,16.0,82,USA,dodge aries se
380,63.507915,4,151.0,90.0,1240.575132,18.0,82,USA,pontiac phoenix
381,56.451480,4,140.0,92.0,1299.542140,16.4,82,USA,ford fairmont futura
383,84.677220,4,105.0,74.0,898.112893,15.3,82,Europe,volkswagen rabbit l
384,87.029365,4,91.0,68.0,918.524549,18.2,82,Japan,mazda glc custom l
385,72.916495,4,91.0,68.0,893.576969,17.6,82,Japan,mazda glc custom
386,89.381510,4,105.0,63.0,963.883786,14.7,82,USA,plymouth horizon miser
387,84.677220,4,98.0,70.0,963.883786,17.3,82,USA,mercury lynx l
388,84.677220,4,120.0,88.0,979.759519,14.5,82,Japan,nissan stanza xe
389,84.677220,4,107.0,75.0,1000.171176,14.5,82,Japan,honda accord
390,79.972930,4,108.0,70.0,1018.314871,16.9,82,Japan,toyota corolla
391,89.381510,4,91.0,67.0,891.309007,15.0,82,Japan,honda civic
392,75.268640,4,91.0,67.0,891.309007,15.7,82,Japan,honda civic (auto)
393,89.381510,4,91.0,67.0,904.916778,16.2,82,Japan,datsun 310 gx
394,58.803625,6,181.0,110.0,1335.829530,16.4,82,USA,buick century limited
395,89.381510,6,262.0,85.0,1367.580996,17.0,82,USA,oldsmobile cutlass ciera (diesel)
396,61.155770,4,156.0,92.0,1172.536276,14.5,82,USA,chrysler lebaron medallion
397,51.747190,6,232.0,112.0,1285.934369,14.7,82,USA,ford granada l
398,75.268640,4,144.0,96.0,1208.823666,13.9,82,Japan,toyota celica gt
399,84.677220,4,135.0,84.0,1075.013917,13.0,82,USA,dodge charger 2.2
400,63.507915,4,151.0,90.0,1338.097492,17.3,82,USA,chevrolet camaro
401,63.507915,4,140.0,86.0,1265.522712,15.6,82,USA,ford mustang gl
402,103.494380,4,97.0,52.0,966.151748,24.6,82,Europe,vw pickup
403,75.268640,4,135.0,84.0,1040.994489,11.6,82,USA,dodge rampage
404,65.860060,4,120.0,79.0,1190.679971,18.6,82,USA,ford ranger
405,72.916495,4,119.0,82.0,1233.771246,19.4,82,USA,chevy s-10

### Multi-índice

1. Cree un dataframe con dos columnas a partir del atributo "*car name*"
    1. La primera columna debe tener la primera palabra del string en *car name**
    1. La segunda columna debe tener el resto del string en *car name*
1. Elimine la columna *car name* del dataframe y agregue estas nuevas columnas llamándolas *brand* y *model*, respectivamente
1. ¿Cuántas marcas (*brand*) únicas existan? ¿Existen columnas repetidas o mal escritas? Mencione cuales y corrijalas**
1. Cree un multi-índice que utilice como primera llave a *brand* y como segunda a *model*
1. Muestre los autos con marca *Mazda*
1. Usando groupby cuente la cantidad de modelos por marca

**HINT:** Verifique el uso de `.str.split()`* y `str.replace()`**

### Buscando autos

1. Por cada marca encuentre el auto más antiguo y el más nuevo
1. Por cada marca encuentre el auto más pesado y el más liviano
1. Por cada marca encuentre los autos con mayor y menor caballos de fuerza, respectivamente
1. Por cada marca encuentre los autos con menor y mayor desempeño en términos de kmpl, respectivamente

### Análisis exploratorio

1. Encuentre el promedio y la desviación estándar de cada atributo numérico en toda la tabla y por marca
1. Construya gráficos de barras del rendimiento (kmpl) promedio en función del año, peso, origen,  número de cilindros y marca (use *barras de error* con la desviación estándar del rendimiento)
1. Viendo estos gráficos, ¿Qué puede concluir respecto a la relación del rendimiento con estos factores?

### Gráficos interactivos

1. Construya una interfaz gráfica usando `ipywidgets` que permita seleccionar dos atributos y los gráfique como un *scatter plot*
    1. El primer atributo será el eje de abscisas y el segundo atributo el eje de ordenadas
    1. Ese el atributo de origen como el color de los marcadores
1. Los gráficos deben ser legibles, los ejes deben estar etiquetados, use leyenda para los marcadores