# Actividad práctica 

### Instrucciones
- Escriba las rutinas de Python necesarias para resolver los problemas de cada punto
- Siga las instrucciones y conteste donde se pida
- Entregue el notebook con sus respuestas al correo: phuijse@inf.uach.cl
- El trabajo es individual

### Introducción
En esta actividad usaremos la base de datos [*Auto Milles per Gallon Data Set*](https://archive.ics.uci.edu/ml/datasets/auto+mpg) del repositorio UCI

Puede descargarla usando el siguiente bloque

In [1]:
%%bash
wget -O auto.csv -c https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data-original 
wget -O README -c https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.names

--2019-05-08 21:33:01--  https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data-original
Resolviendo archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Conectando con archive.ics.uci.edu (archive.ics.uci.edu)[128.195.10.252]:443... conectado.
Petición HTTP enviada, esperando respuesta... 416 Requested Range Not Satisfiable

    El archivo ya se ha obtenido por completo; no hay nada que hacer.

--2019-05-08 21:33:03--  https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.names
Resolviendo archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Conectando con archive.ics.uci.edu (archive.ics.uci.edu)[128.195.10.252]:443... conectado.
Petición HTTP enviada, esperando respuesta... 416 Requested Range Not Satisfiable

    El archivo ya se ha obtenido por completo; no hay nada que hacer.

### Información preliminar

1. Use las herramientas de UNIX para leer el archivo README en el notebook

In [2]:
!cat README

1. Title: Auto-Mpg Data

2. Sources:
   (a) Origin:  This dataset was taken from the StatLib library which is
                maintained at Carnegie Mellon University. The dataset was
                used in the 1983 American Statistical Association Exposition.
   (c) Date: July 7, 1993

3. Past Usage:
    -  See 2b (above)
    -  Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning.
       In Proceedings on the Tenth International Conference of Machine
       Learning, 236-243, University of Massachusetts, Amherst. Morgan
       Kaufmann.

4. Relevant Information:

   This dataset is a slightly modified version of the dataset provided in
   the StatLib library.  In line with the use by Ross Quinlan (1993) in
   predicting the attribute "mpg", 8 of the original instances were removed
   because they had unknown values for the "mpg" attribute.  The original
   dataset is available in the file "auto-mpg.data-original".

   "The data concerns city-cycle fuel consumption in miles per gallon,
    to be predicted in terms of 3 multivalued discrete and 5 continuous
    attributes." (Quinlan, 1993)

5. Number of Instances: 398

6. Number of Attributes: 9 including the class attribute

7. Attribute Information:

    1. mpg:           continuous
    2. cylinders:     multi-valued discrete
    3. displacement:  continuous
    4. horsepower:    continuous
    5. weight:        continuous
    6. acceleration:  continuous
    7. model year:    multi-valued discrete
    8. origin:        multi-valued discrete
    9. car name:      string (unique for each instance)

8. Missing Attribute Values:  horsepower has 6 missing values

2. Responda ¿Cuántos y cuáles son los atributos (características)? ¿De qué tipo es cada uno?

Son 9 atributos, incluyendo el atributo de clase:

    1. mpg:           continuous
    2. cylinders:     multi-valued discrete
    3. displacement:  continuous
    4. horsepower:    continuous
    5. weight:        continuous
    6. acceleration:  continuous
    7. model year:    multi-valued discrete
    8. origin:        multi-valued discrete
    9. car name:      string (unique for each instance)

3. Responda ¿Cuantas instancias/ejemplos existen?

Existen 398 instancias.

"Los datos se refieren al consumo de combustible en el ciclo urbano en millas por galón, que se pronosticará en términos de 3 atributos discretos multivalor y 5 atributos continuos". (Quinlan, 1993)"

### Lectura de datos

1. Cree un `DataFrame` a partir de `auto.csv` 
    1. Use una columna por atributo* 
    1. Use los nombres de columna descritos en `README` 
1. Imprima las primeras 5 filas del dataframe

**HINT:** Verifique el uso  del argumento `delim_whitespace`*

In [3]:
import pandas as pd

headers = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'myear','origin', 'cname']
df = pd.read_csv(r'./auto.csv', delim_whitespace=True, names=headers)
df.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,myear,origin,cname
0,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,1.0,chevrolet chevelle malibu
1,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,1.0,buick skylark 320
2,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,1.0,plymouth satellite
3,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,1.0,amc rebel sst
4,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,1.0,ford torino

### Manipulación de columnas 

1. Convierta las columnas *cylinders*, *year* y *origin* a valores enteros

In [4]:
df.cylinders = df.cylinders.astype(int)
df.myear = df.myear.astype(int)
df.origin = df.origin.astype(int)
df.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight          float64
acceleration    float64
myear             int64
origin            int64
cname            object
dtype: object

2. Reemplace los valores $[1, 2, 3]$ de *origin* por *USA*, *Europe*, *Japan*, respectivamente

http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html

In [5]:
def cambiar_origen(n):
    if n == 1:
        return "USA"
    if n == 2:
        return "Europe"
    if n == 3:
        return "Japan"

In [6]:
df["origin"] = df["origin"].apply(cambiar_origen) #aplicar esto una segunda vez, deja los valores como none
#df.head(20)

3. Convierta los valores de la columna *mpg* (galones por milla) a kmpl (kilómetros por litro)

5. Modifique el nombre de la columna *mpg* a kmpl (5)

In [7]:
#1 Gallon per Mile  =  2.352145 Liter per Kilometer
df["mpg"] = df["mpg"].apply(lambda x: 2.352145*x)
df.rename(columns = {"mpg": "kmpl"}, inplace=True) 
df.head()

,kmpl,cylinders,displacement,horsepower,weight,acceleration,myear,origin,cname
0,42.338610,8,307.0,130.0,3504.0,12.0,70,USA,chevrolet chevelle malibu
1,35.282175,8,350.0,165.0,3693.0,11.5,70,USA,buick skylark 320
2,42.338610,8,318.0,150.0,3436.0,11.0,70,USA,plymouth satellite
3,37.634320,8,304.0,150.0,3433.0,12.0,70,USA,amc rebel sst
4,39.986465,8,302.0,140.0,3449.0,10.5,70,USA,ford torino

4. Convierta los valores de la columna peso de libras (*pounds*) a kilogramos

In [8]:
#1 lbs = 0.45359237 kg
df["weight"] = df["weight"].apply(lambda x: 0.45359237*x)

In [9]:
df.head()

,kmpl,cylinders,displacement,horsepower,weight,acceleration,myear,origin,cname
0,42.338610,8,307.0,130.0,1589.387664,12.0,70,USA,chevrolet chevelle malibu
1,35.282175,8,350.0,165.0,1675.116622,11.5,70,USA,buick skylark 320
2,42.338610,8,318.0,150.0,1558.543383,11.0,70,USA,plymouth satellite
3,37.634320,8,304.0,150.0,1557.182606,12.0,70,USA,amc rebel sst
4,39.986465,8,302.0,140.0,1564.440084,10.5,70,USA,ford torino

### Datos perdidos

1. Encuentre los nombres de los autos que tengan valores perdidos (*missing data*)

In [10]:
display(df.cname[df.isna().any(axis=1)]) #al menos 1 NaN

10                 citroen ds-21 pallas
11     chevrolet chevelle concours (sw)
12                     ford torino (sw)
13              plymouth satellite (sw)
14                   amc rebel sst (sw)
17                ford mustang boss 302
38                           ford pinto
39          volkswagen super beetle 117
133                       ford maverick
337                renault lecar deluxe
343                  ford mustang cobra
361                         renault 18i
367                           saab 900s
382                      amc concord dl
Name: cname, dtype: object

2. Encuentre los nombres de los atributos que tengan valores perdidos

In [11]:
display(df.columns[df.isna().any()].tolist())

['kmpl', 'horsepower']

3. Elimines las filas con atributos perdidos ¿Cuántas filas quedan en el dataframe?

392 Filas

In [12]:
df.dropna(inplace=True)
df.head()

,kmpl,cylinders,displacement,horsepower,weight,acceleration,myear,origin,cname
0,42.338610,8,307.0,130.0,1589.387664,12.0,70,USA,chevrolet chevelle malibu
1,35.282175,8,350.0,165.0,1675.116622,11.5,70,USA,buick skylark 320
2,42.338610,8,318.0,150.0,1558.543383,11.0,70,USA,plymouth satellite
3,37.634320,8,304.0,150.0,1557.182606,12.0,70,USA,amc rebel sst
4,39.986465,8,302.0,140.0,1564.440084,10.5,70,USA,ford torino

### Multi-índice

1. Cree un dataframe con dos columnas a partir del atributo "*car name*"
    1. La primera columna debe tener la primera palabra del string en *car name**
    1. La segunda columna debe tener el resto del string en *car name*

**HINT:** Verifique el uso de `.str.split()`* y `str.replace()`**

In [13]:
new_df = df.cname.str.split(n=1, expand=True)
new_df.rename(columns = {0: "brand", 1: "model"}, inplace=True) 

new_df.head()

       brand            model
0  chevrolet  chevelle malibu
1      buick      skylark 320
2   plymouth        satellite
3        amc        rebel sst
4       ford           torino

2. Elimine la columna *car name* del dataframe y agregue estas nuevas columnas llamándolas *brand* y *model*, respectivamente

In [14]:
df.drop(["cname"], axis=1, inplace=True)
df = pd.concat([df, new_df], axis=1)
#df.head(20)

3. ¿Cuántas marcas (*brand*) únicas existan? ¿Existen columnas repetidas o mal escritas? Mencione cuales y corrijalas**

37 marcas unicas. **Si**, esta toyouta, maxda, chevroelt, vw - vokswagen y mercedes

In [15]:
display(df['brand'].nunique()
        ,df['brand'].unique()
       )

37

array(['chevrolet', 'buick', 'plymouth', 'amc', 'ford', 'pontiac',
       'dodge', 'toyota', 'datsun', 'volkswagen', 'peugeot', 'audi',
       'saab', 'bmw', 'chevy', 'hi', 'mercury', 'opel', 'fiat',
       'oldsmobile', 'chrysler', 'mazda', 'volvo', 'renault', 'toyouta',
       'maxda', 'honda', 'subaru', 'chevroelt', 'capri', 'vw',
       'mercedes-benz', 'cadillac', 'mercedes', 'vokswagen', 'triumph',
       'nissan'], dtype=object)

In [16]:
def corregir_marca(b):
    if b == "toyouta":
        return "toyota"
    if b == "maxda":
        return "mazda"
    if b == "chevroelt":
        return "chevrolet"
    if b == "vw" or b == "vokswagen":
        return "volkswagen"
    if b == "mercedes":
        return "mercedes-benz"
    else:
        return b

In [17]:
df["brand"] = df["brand"].apply(corregir_marca)
df.head(20)

,kmpl,cylinders,displacement,horsepower,weight,acceleration,myear,origin,brand,model
0,42.338610,8,307.0,130.0,1589.387664,12.0,70,USA,chevrolet,chevelle malibu
1,35.282175,8,350.0,165.0,1675.116622,11.5,70,USA,buick,skylark 320
2,42.338610,8,318.0,150.0,1558.543383,11.0,70,USA,plymouth,satellite
3,37.634320,8,304.0,150.0,1557.182606,12.0,70,USA,amc,rebel sst
4,39.986465,8,302.0,140.0,1564.440084,10.5,70,USA,ford,torino
5,35.282175,8,429.0,198.0,1969.044478,10.0,70,USA,ford,galaxie 500
6,32.930030,8,454.0,220.0,1974.941179,9.0,70,USA,chevrolet,impala
7,32.930030,8,440.0,215.0,1955.890299,8.5,70,USA,plymouth,fury iii
8,32.930030,8,455.0,225.0,2007.146237,10.0,70,USA,pontiac,catalina
9,35.282175,8,390.0,190.0,1746.330625,8.5,70,USA,amc,ambassador dpl
15,35.282175,8,383.0,170.0,1616.149614,10.0,70,USA,dodge,challenger se
16,32.930030,8,340.0,160.0,1637.014863,8.0,70,USA,plymouth,'cuda 340
18,35.282175,8,400.0,150.0,1705.960904,9.5,70,USA,chevrolet,monte carlo
19,32.930030,8,455.0,225.0,1399.786054,10.0,70,USA,buick,estate wagon (sw)
20,56.451480,4,113.0,95.0,1075.921102,15.0,70,Japan,toyota,corona mark ii
21,51.747190,6,198.0,95.0,1285.027184,15.5,70,USA,plymouth,duster
22,42.338610,6,199.0,97.0,1258.265234,15.5,70,USA,amc,hornet
23,49.395045,6,200.0,85.0,1173.443461,16.0,70,USA,ford,maverick
24,63.507915,4,97.0,88.0,966.151748,14.5,70,Japan,datsun,pl510
25,61.155770,4,97.0,46.0,832.341999,20.5,70,Europe,volkswagen,1131 deluxe sedan

In [18]:
display(df['brand'].nunique()
        ,df['brand'].unique()
       )

31

array(['chevrolet', 'buick', 'plymouth', 'amc', 'ford', 'pontiac',
       'dodge', 'toyota', 'datsun', 'volkswagen', 'peugeot', 'audi',
       'saab', 'bmw', 'chevy', 'hi', 'mercury', 'opel', 'fiat',
       'oldsmobile', 'chrysler', 'mazda', 'volvo', 'renault', 'honda',
       'subaru', 'capri', 'mercedes-benz', 'cadillac', 'triumph',
       'nissan'], dtype=object)

4. Cree un multi-índice que utilice como primera llave a *brand* y como segunda a *model*

5. Muestre los autos con marca *Mazda*
6. Usando groupby cuente la cantidad de modelos por marca

### Buscando autos

1. Por cada marca encuentre el auto más antiguo y el más nuevo
1. Por cada marca encuentre el auto más pesado y el más liviano
1. Por cada marca encuentre los autos con mayor y menor caballos de fuerza, respectivamente
1. Por cada marca encuentre los autos con menor y mayor desempeño en términos de kmpl, respectivamente

### Análisis exploratorio

1. Encuentre el promedio y la desviación estándar de cada atributo numérico en toda la tabla y por marca
1. Construya gráficos de barras del rendimiento (kmpl) promedio en función del año, peso, origen,  número de cilindros y marca (use *barras de error* con la desviación estándar del rendimiento)
1. Viendo estos gráficos, ¿Qué puede concluir respecto a la relación del rendimiento con estos factores?

### Gráficos interactivos

1. Construya una interfaz gráfica usando `ipywidgets` que permita seleccionar dos atributos y los gráfique como un *scatter plot*
    1. El primer atributo será el eje de abscisas y el segundo atributo el eje de ordenadas
    1. Ese el atributo de origen como el color de los marcadores
1. Los gráficos deben ser legibles, los ejes deben estar etiquetados, use leyenda para los marcadores